@font-face {
  font-family: Segoe WP;
  src: url('assets/Segoe\ WP.ttf');
}

@font-face {
  font-family: Segoe WP Light;
  src: url('assets/Segoe\ WP\ Light.ttf');
}

.wrapper_mobile {
  display: none;
}

.wrapper_desktop {
  background: url(assets/Layer20.png) no-repeat;  
  margin: 0 auto;
  width: 1300px;
}

.wrapper {
  background-size: cover;
  max-width: 1100px;
}

.header {
  display: flex;
}

.logo {
  display: flex;
  margin-left: 140px;
  margin-top: 18px;
}

.logo_img {
  flex: 1 1 auto;
}

.logo_text {
  margin-left: 2px;
  margin-top: 38px;
  flex: 1 1 auto;
  font-size: 41px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
}

.navbar {
  flex: 0 0 453px;
  margin-top: 71px; 
  margin-left: 259px;
}

.navbar ul {
  display: flex; 
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 17px;
  letter-spacing: 0px;
  color: rgb(155,125,8);
  font-family: Segoe WP;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(0deg,rgb(245,197,5) 0%,rgb(245,197,5) 100%);
  box-shadow: -4px -5px 0px rgba(245,197,5,0.27), -8px -8px 0px rgba(245,197,5,0.27) ;
}

.contact {
  width: 147px;
  height: 41px; 
}

.services {
  width: 132px;
  height: 41px; 
  border-color: rgb(220,177,5);
  border-left: 1px solid;
  border-right: 1px solid;
}

.about_us {
  width: 172px;
  height: 41px; 
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(155,125,8);
 }

.video_area {
  width: 549px;
  height: 327px;
  background: rgb(128, 128, 128);
  margin-left: 150px;
  margin-top: 46px;
}

.play_big_icon {
  position: relative;
  margin-top: -201px;
  margin-left: 240px; 
}

.play_little_icon {
  position: relative;
  margin-top: 78px;
  margin-left: 29px; 
}

.slider_video1 {
  width: 404px;
  height: 12px;
  border-radius: 5px;
  position: relative;
  margin-top: -23px;
  margin-left: 79px; 
}

.slider_video2 {
  width: 179px;
  height: 12px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  background-color: rgb(245, 197, 6);
  margin-top: -11px;
  margin-left: 80px; 
}

.volume_icon {
  position: relative;
  margin-top: -13px;
  margin-left: 514px; 
}

.video_text {
  width: 400px;
  height: 125px;
  position: relative;
  font-size: 63px;
  letter-spacing: 1px;
  color: rgb(245, 197, 6);
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  line-height: 76px;
  margin-left: 587px;
  margin-top: -229px;
  vertical-align: baseline;
}

.video_text span {
  color: rgb(255, 255, 255);
}

.back_button {
  display: flex;
  margin-left: -150px;
  margin-top: -67px;
  width: 32px;
  height: 57px;
  background-color: rgba(245, 197, 6, 0.71);
}

.back_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.next_button {
  display: flex;
  margin-left: 1118px;
  margin-top: -57px;
  width: 32px;
  height: 57px;
  background-color: rgba(245, 197, 6, 1);
}

.next_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  margin-left: 11px;
}

.icon_area {
  margin-top: 71px;
  width: 1300px;
  height: 212px;
  background-image: url(assets/Layer7.png);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.25), 0px 4px 3px rgba(0,0,0,0.25);
}

.better_design {
  width: 340px;
  height: 212px;
  border-left: 1px solid rgb(209, 209, 209);
  border-right: 1px solid rgb(209, 209, 209);
  margin-left: 139px;
}

.better_design a img {
  margin-left: 112px;
  margin-top: 60px;
  margin-bottom: 11px;
}

.better_design a span {
  font-size: 27px;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
  margin-left: 86px;
}

.customise {
  width: 340px;
  height: 212px;
  margin-left: 539px;
  margin-top: -212px;
}

.customise a img {
  margin-left: 76px;
  margin-top: 36px;
  margin-bottom: 15px;
}

.customise a span {
  font-size: 27px;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
  margin-left: 52px;
}

.its_free {
  width: 339px;
  height: 212px;
  border-left: 1px solid rgb(209, 209, 209);
  border-right: 1px solid rgb(209, 209, 209);
  margin-left: 819px;
  margin-top: -212px;
}

.its_free a img {
  margin-left: 118px;
  margin-top: 53px;
  margin-bottom: 10px;
}

.its_free a span {
  font-size: 27px;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
  margin-left: 113px;
}

.social_area {
  width: 1300px;
  height: 508px;
  background-image: url(assets/Layer10copy3.png);  
}

.social_area div {
  padding-top: 37px;
} 

.social_area span {
  width: 918px;
  height: 130px;
  font-size: 37px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  font-family: "PT Sans";
  font-weight: 400;
  margin-left: 142px;
}

.text_block {
  background-color: rgb(236, 158, 3);
  width: 341px;
  height: 196px;
  margin-left: 139px;
  margin-top: 36px;
}

.text_block p {
  margin-left: 30px;
  margin-top: -20px;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 38px;
  color: rgb(255, 255, 255);
  font-family: Segoe WP Light;
  font-weight: 100;
  text-align: left;
}

.text_block a {
  margin-left: 315px;
}

.video_block {
  width: 315px;
  height: 232px;
  margin-left: 480px;
  margin-top: -307px;
}

.play_icon {
  position: relative;
  margin-top: -180px;
  margin-left: 129px;
  border-radius: 30px;
}

.twitter_area {
  background-color: rgb(236, 158, 3);
  width: 329px;
  height: 196px;
  margin-left: 829px;
  margin-top: -195px;
}

.twitter_area p {
  margin-left: 285px;
  margin-top: -28px;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: rgb(255, 255, 255);
  font-family: Segoe WP Light;
  font-weight: 300;
}

.twitter_area img {
  margin-left: 82px;
  margin-top: -26px;
}

.twitter_area .add {
  margin-top: -4px;
  margin-left: 226px;
}

.date_box {
  background-color: rgb(221, 177, 1);
  width: 113px;
  height: auto;
  margin-left: 139px;
  margin-top: 0px;
}

.date_box .day {
  margin-top: -27px;
  padding-left: 31px;
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI";
  font-weight: bold;
}

.date_box .month {
  padding-left: 34px;
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: rgb(178, 101, 41);
  font-family: "Segoe UI";
}

.slider_social1 {
  margin-left: 212px;
  margin-top: 5px;
}

.slider_social2 {
  margin-left: 459px;
  margin-top: -56px;
}

 .section2_area { 
   width: 1300px;
   height: 497px;
   background-image: url(assets/Layer32.png);  
}

.section2_area .name_s2 {
  font-size: 42px;
  letter-spacing: 0px;
  color: rgb(245, 197, 6);
  font-family: "PT Sans";
  font-weight: 400;
  padding-left: 350px;
  padding-top: 42px;
}

.section2_area .computer {
  margin-left: 158px;
  margin-top: 53px;
}

.section2_area .pad {
  margin-left: 505px;
  margin-top: -216px;
}

.section2_area .phone {
  margin-left: 659px;
  margin-top: -66px;
}

.section2_area .its_free {
  position: absolute;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  background-color: rgb(245, 197, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  font-family: "PT Sans Narrow";
  font-weight: 700;
  margin-left: 137px;
  margin-top: -307px;
}

.section2_area ul {
  list-style-image: url(assets/Ellipse4.svg);
}

.section2_area li {
  padding-bottom: 10px;
  padding-left: 11px;
  width: 492px;
  height: 45px;
  font-size: 22px;
  letter-spacing: 0px;
  color: rgb(169, 169, 167);
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 27px;
}

.section2_area .list {
  margin-left: 799px;
  margin-top: -174px;
}

.footer {
  width: 1300px;
  height: 76px;
  background-image: url(assets/Layer31.png);     
  box-shadow: 0px -2px 5px rgba(0,0,0,1);

}

.logo_foot_img {
  width: 55px;
  height: 55px;
  margin-left: 140px;
  margin-top: 5px;
}

.logo_foot_text {
  margin-left: -743px;
  margin-top: -44px;
  font-size: 29px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 640px) {
   .wrapper_desktop {
    display: none;
  }

  .wrapper_mobile {
    display: block;
  }

  .header {
    display: flex;
    width: 640px;
    height: 62px; 
  }
  
  .logo {
    display: flex;
    background-image: linear-gradient(0deg, rgb(70, 70, 70) 0%, rgb(93, 93, 93) 100%);
    margin-left: 0px;
    margin-top: -1px;
    width: 186px;
    height: 65px
  }
  
  .logo_img {
    width: 42px;
    height: 41px;
    margin-top: 11px;
    margin-left: -11px;
  }
  
  .logo_text {
    margin-left: -40px;
    margin-top: 25px;
    flex: 1 1 auto;
    font-size: 19px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    margin-top: 0px; 
    margin-left: 0px;
  }
  
  .navbar ul {
    display: flex; 
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 19px;
    letter-spacing: 0px;
    color: rgb(155, 125, 8);
    font-family: Segoe WP;
    font-weight: 700;
    text-align: center;
    background-color: rgb(245, 197, 6);
    box-shadow: none;
  }
  
  .contact {
    flex: 0 0 auto;
    width: 147px;
    height: 64px; 
  }
  
  .services {
    flex: 0 0 auto;
    width: 132px;
    height: 64px; 
    border-color: rgb(220, 177, 5);
    border-left: 1px solid;
    border-right: 1px solid;
  }
  
  .about_us {
    flex: 0 0 auto;
    width: 172px;
    height: 64px; 
  }
  
  .button a {
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(155, 125, 8);
  }

  .video_area {
    width: 640px;
    height: 327px;
    background: grey;
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .play_big_icon {
    position: relative;
    margin-top: -201px;
    margin-left: 294px; 
  }
  
  .play_little_icon {
    position: relative;
    margin-top: 78px;
    margin-left: 83px; 
  }
  
  .slider_video1 {
    width: 405px;
    height: 12px;
    border-radius: 5px;
    position: relative;
    margin-top: -23px;
    margin-left: 134px; 
  }
  
  .slider_video2 {
    width: 179px;
    height: 12px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    background-color: rgb(245, 197, 6);
    margin-top: -11px;
    margin-left: 134px; 
  }
  
  .volume_icon {
    position: relative;
    margin-top: -13px;
    margin-left: 569px; 
  }
  
  .icon_area {
    margin-top: 0px;
    width: 640px;
    height: 174px;
    background-image: url(assets/Layer7.png);
    box-shadow: -5px -5px 0px rgba(0,0,0,25), ;
  }
  
  .better_design {
    width: 213px;
    height: 174px;
    margin-left: 0px;
    border: none;
  }
  
  .better_design a img {
    width: 89px;
    height: 62px;
    margin-left: 44px;
    margin-top: 33px;
    margin-bottom: 17px;
  }
  
  .better_design a span {
    font-size: 23px;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    margin-left: 15px;
  }
  
  .customise {
    width: 214px;
    height: 174px;
    margin-left: 213px;
    margin-top: -174px;
  }
  
  .customise a img {
    width: 67px;
    height: 69px;
    margin-left: 81px;
    margin-top: 28px;
    margin-bottom: 15px;
  }
  
  .customise a span {
    font-size: 23px;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    margin-left: 55px;
  }
  
  .its_free {
    width: 213px;
    height: 174px;
    border: none;
    margin-left: 427px;
    margin-top: -174px;
  }
  
  .its_free a img {
    width: 68px;
    height: 69px;
    margin-left: 68px;
    margin-top: 30px;
    margin-bottom: 13px;
  }
  
  .its_free a span {
    font-size: 23px;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    margin-left: 67px;
  }
  
  .social_area {
    width: 640px;
    height: 485px;
    background-image: none;
  }
  
  .text_block {
    background-color: rgb(236, 158, 3);
    width: 299px;
    height: 195px;
    margin-left: 9px;
    margin-top: 7px;
  }
  
  .text_block p {
    margin-left: 25px;
    margin-top: -21px;
    width: 285px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 33px;
    color: rgb(255, 255, 255);
    font-family: Segoe WP;
    font-weight: 300;
    text-align: left;
  }
  
  .text_block p a {
    width: 8px;
    height: 8px;
    margin-left: 224px;
    margin-top: 0px;
  }
  
  .video_block {
    width: 315px;
    height: 232px;
    margin-left: 317px;
    margin-top: -307px;
  }
  
  .play_icon {
    position: relative;
    margin-top: -180px;
    margin-left: 129px;
    border-radius: 30px;
  }
  
  .twitter_area {
    background-color: rgb(245, 197, 7);
    width: 317px;
    height: 196px;
    margin-left: 0px;
    margin-top: 47px;
  }
  
  .twitter_area img {
    width: 159px;
    height: 139px;
    margin-left: 85px;
    margin-top: -19px;
  }

  .message_area {
    background-color: rgb(245, 197, 7);
    width: 323px;
    height: 196px;
    margin-left: 317px;
    margin-top: -233px;
  }

  .message_area ul {
    margin-left: 7px;
    margin-top: -14px;
  }

  .message_area .twit {
    background-image: url(assets/RoundedRectangle2.png);
    background-repeat: no-repeat;
    width: 284px;
    height: 42px;
    padding-left: 27px;
    padding-top: 8px;
    margin-bottom: 6px;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(143, 142, 142);
    font-family: "Arial";
  }

  .message_area .twit_text {
    margin-left: 10px;
    width: 201px;
    height: 25px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1 solid rgb(208, 168, 6);
  }

  .message_area .twit_submit {
    width: 69px;
    height: 31px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-image: linear-gradient(0deg, rgb(207, 142, 12) 0%, rgb(234, 169, 39) 100%);    
    font-size: 15px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: "Arial";
    border: 1 solid rgb(208, 168, 6);
  }

  .section2_area { 
    width: 640px;
    height: 466px;
    background-image: url(assets/Layer33.png);  
    margin-top: -11px;
  }
 
  .section2_area .name_s2 {
    font-size: 39px;
    letter-spacing: 0.5px;
    color: rgb(245, 197, 6);
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 17px;
    padding-top: 37px;
  }
 
  .section2_area .computer {
    margin-left: 57px;
    margin-top: 80px;
  }
 
  .section2_area .pad {
    margin-left: 404px;
    margin-top: -216px;
  }
 
  .section2_area .phone {
    margin-left: 558px;
    margin-top: -66px;
  }
 
  .section2_area .its_free {
    position: absolute;
    width: 116px;
    height: 116px;
    border-radius: 58px;
    background-color: rgb(245, 197, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: "PT Sans Narrow";
    font-weight: 700;
    margin-left: 27px;
    margin-top: -259px;
  }

  .footer {
    width: 640px;
    height: 76px;
    background-image: url(assets/Layer31.png);     
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  
  }
  
  .logo_foot_img {
    width: 31px;
    height: 31px;
    margin-left: 65px;
    margin-top: 6px;
  }
  
  .logo_foot_text {
    margin-left: -337px;
    margin-top: -26px;
    font-size: 17px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
  }
}